@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Font Family */
@font-face {
  font-family: "acorn";
  src: url(./assets/fonts/acorn.woff) format("woff");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "acorn";
}

body {
  font-family: "Inter", sans-serif;
}

.myShadow {
  box-shadow: -9.39054px 9.39054px 28.1716px 10.3296px rgba(128, 128, 128, 0.2);
}

.my-line-shadow {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

.my-color-backdrop {
  color-backdrop: hsla(45, 17%, 95%, 0.8);
  backdrop-filter: blur(20px) saturate(1.7);
}

.my-gradient {
  background-image: linear-gradient(
    to right,
    #fdf6e4,
    /* #ffd9b3, */ /* #ffcc99, */ #ffe7c2,
    #f9e8d7
  );
}
